<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <includetail>
            <table style="font-family: Segoe UI, SegoeUIWF, Arial, sans-serif; font-size: 12px; color: #333333; border-spacing: 0px; border-collapse: collapse; padding: 0px; width: 580px; direction: ltr">
                <tbody>
                    <tr>
                        <td style="font-size: 10px; padding: 0px 0px 7px 0px; text-align: right">
                            该程序自动运行于TISQDA SAP程序： ZMMR007
                        </td>
                    </tr>
                    <tr style="background-color: white">
                        <td style="padding: 0px">
                            <table style="font-family: Segoe UI, SegoeUIWF, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%">
                                <tbody>
                                    <div style="display: flex; justify-content: center; align-items: center;"></div>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </includetail>
    </div>
</body>

</html>